<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR4y469r8rppxz6Vc64UR1VAKPuzqcGk0</string>
	<key>GCM_SENDER_ID</key>
	<string>907776986667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlczarnetzki.doenertop</string>
	<key>PROJECT_ID</key>
	<string>doenertop</string>
	<key>STORAGE_BUCKET</key>
	<string>doenertop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907776986667:ios:a427a02c2a7bb534e7646e</string>
</dict>
</plist>